<div class="container-fluid">
        <div class="progress col-sm-12">
            <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>            
        </div>
        <h2 class="col-sm-12 mt-3">Where the dispute happend?</h2>
        <div class="row stage2">
            <a class="mx-3" href="javascript:void(0);" ng-click="next(3)">Home</a>
            <a class="mx-3" href="javascript:void(0);"  ng-click="next(3)">School</a>
            <a class="mx-3" href="javascript:void(0);"  ng-click="next(3)">friends</a>
            <a class="mx-3" href="javascript:void(0);"  ng-click="next(3)">social media</a>       
        </div>    
    </div>