<div class="container-fluid">
    <div class="progress col-sm-12">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>            
    </div>
    <h3 class="col-sm-12 mt-3">How do you fill today?</h3>
    <div class="row">
        <img class="card-img-top d-block mx-auto mt-3 col-sm-auto" src="app/img/happy.jpg" alt="" title="happy" ng-click="next(2)">
        <img class="card-img-top d-block mx-auto mt-3 col-sm-auto" src="app/img/unhappy3.jpg" alt="" title="unhappy" ng-click="next(2)">
        <img class="card-img-top d-block mx-auto mt-3 col-sm-auto" src="app/img/angry.jpg" alt="" title="angry" ng-click="next(2)">
        <img class="card-img-top d-block mx-auto mt-3 col-sm-auto" src="app/img/sad.jpg" alt="" title="sad" ng-click="next(2)">        
    </div>    
</div>